<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" class="dialog" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="width100 diaheader" fxLayoutAlign="start center" [fxShow]="true">
      <h4>
        Disability Insurance</h4>
    </div>
    <div fxLayout="row wrap" style="Width 597px Height 63px" fxLayoutAlign="start stretch" [fxShow]="true">
      <p class="align">
        If you become sick or injured and can&#x2019;t work for some time (and it&#x2019;s confirmed by a doctor) disability insurance is designed to cover up to about 60% of your paycheck or income.
      </p>
    </div>
    <div fxLayout="row wrap" class="diafooter" fxLayoutAlign="end center" [fxShow]="true"><button mat-button class="nextBtn">okey</button></div>
  </div>
</div>