<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" style="width:637px; " fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" style="width:637px;position: relative;" fxLayoutAlign="start stretch" [fxShow]="true">
      <mat-card style="height: 24px;width: 24px; padding:0px !important;position: absolute;">
        <mat-card-content>
          <mat-icon>clear</mat-icon>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxLayout="row wrap" style="width:637px; padding-left: 16px;" class="width100 diaheader" fxLayoutAlign="start center" [fxShow]="true">
      <h4>
        Disability Insurance</h4>
    </div>
    <div fxLayout="row wrap" style="width:637px; Height 63px;padding: 16px;" fxLayoutAlign="start center" [fxShow]="true">
      <p>
        If you become sick or injured and can&#x2019;t work for some time (and it&#x2019;s confirmed<br> by a doctor) disability insurance is designed to cover up to about 60% of your<br>paycheck or income.
      </p>
    </div>
    <div fxLayout="row wrap" style="width:637px;padding-right:16px;" class="diafooter" fxLayoutAlign="end center" [fxShow]="true"><button mat-button style="height: 34px; width: 74px;" class="nextBtn">Okey</button></div>
  </div>
</div>