<div fxLayout="row wrap" fxLayoutAlign="center start" [fxShow]="true">
  <div fxLayout="column wrap" style="height: 39em;" fxFlex="100" fxLayoutGap="10em" fxLayoutAlign="space-between center" [fxShow]="true">
    <form [formGroup]="page.occupationStatus">
      <div fxLayout="column wrap" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" class="marginTop1em" fxLayoutAlign="center center" [fxShow]="true">
          <div fxLayout="column wrap" class="paddingT2em" fxLayoutAlign="center center" [fxShow]="true">
            <p class="selectAllAply">
              Selected plan</p>
            <div fxLayout="row wrap" fxLayoutGap="0.5em" fxLayoutAlign="start stretch" [fxShow]="true">
              <h6 class="font18 topTitle">
                Disability Insurance</h6><img imgSrc="/Web/images/selectedEdit.png">
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" style="height:85px;" class="width100" fxLayoutAlign="center center" [fxShow]="true"><img imgSrc="/Web/images/stepper1.png"><img imgSrc="/Web/images/stepper2.png"><img imgSrc="/Web/images/stepper3.png"></div>
        <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
            <h2 class="topTitle">
              What is your occupation?</h2>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center center" [fxShow]="true">
          <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
            <mat-select formControlName="occupation" placeholder="Select your state" [required]="false">
              <ng-template ngFor let-option [ngForOf]="page.occupationType" let-i="index">
                <mat-option [value]="option.view">{{option.view}}</mat-option>
              </ng-template>
            </mat-select>

          </mat-form-field>
        </div>
        <div fxLayout="row wrap" style="padding-right: 53px;" fxLayoutGap="1em" fxLayoutAlign="end start" [fxShow]="true"><img imgSrc="/Web/images/ve.png"><label style="font-weight: 400; font-size: 14px;color: #000000;">
            Can&#x2019;t find your occupation?</label></div>
      </div>
    </form>
    <div fxLayout="row wrap" class="width100" fxFlex="30px" fxLayoutAlign="center center" [fxShow]="true">
      <div fxLayout="column wrap" fxFlex="100" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true"><img imgSrc="/Web/images/notSure.png">
        <div fxLayout="row wrap" style="margin-bottom:3em !important;" fxLayoutGap="0.5em" fxLayoutAlign="center center" [fxShow]="true"><img imgSrc="/Web/images/text.png"><img imgSrc="/Web/images/help.png"></div>
      </div>
    </div>
  </div>
</div>