<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxFlex="100" fxLayoutGap="2em" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <h2 style="font-weight: 500; font-size: 24px; line-height: 31px; text-align: center;  color: #000000;">
        Please wait while we check your price!</h2>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <h2 style="font-size: 24px; font-weight: 500; line-height: 31px; letter-spacing: 0px; text-align: center;">
        Here are some of our favorite dad jokes while you wait...
      </h2>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <h4 style="font-size: 24px; font-weight: 500; line-height: 31px; letter-spacing: 0px; text-align: center;" class="read">
        Why didn&apos;t Han Solo enjoy his steak dinner? It was Chewie.
      </h4>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/images/progress.png" style="margin-top:5em;"></div>
  </div>
</div>