<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxFlex="100" fxLayoutGap="11em" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <h2 style="font-weight: 500; font-size: 24px; line-height: 31px; text-align: center;  color: #000000;">
        Please wait while we check your price!</h2>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"></div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"></div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"></div>
  </div>
</div>